starting_port = 4030
[instance_1]
    # port = 4030 # if not set, then it's starting_port + instance number
    agent = PredictiveFutureAgent

    [[agent_args]]
        action_stdev = 5

    [[exp_args]]
        dir = wellshitwhereisit
        agent_prefix = pfa

# [instance_2]
#     # port = 4031
#     agent = PredictiveFutureAgent
#
#     [[agent_args]]
#         action_stdev = 5
#
#     [[exp_args]]
#         dir = wellshitwhereisit
#         agent_prefix = pfa
#
# [instance_3]
#     # port = 4096
#     agent = PredictiveFutureAgent
#
#     [[agent_args]]
#         action_stdev = 5
#
#     [[exp_args]]
#         dir = wellshitwhereisit
#         agent_prefix = pfa